temp.dat
SonLVL INI Files/dllcache
*.log
*.lst
*.sym
errors.txt
s1built.bin
ghm4built.bin
sndtest.bin

splash/Splash Screens to be Converted (Resource Suite)/RetroGraphicsToolkit (Conversion Tool)/RetroGraphicsToolkit.exe

*.prev.bin
